* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: 20px;
	font-family: "IBM Plex Sans", sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
code {
	font-family: "IBM Plex Mono", monospace;
}

.lucide {
	width: 1rem;
	height: 1rem;
}

.pagina {
	background-color: darkslategray;
	color: rgb(26, 26, 26);
}

.pagina__principal {
	height: 100dvh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.pagina__conteudo {
	flex: 1;
	padding: 1rem;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 100%;
}

.conteudo {
	display: grid;
	grid-template-rows: repeat(2, 100px);
	grid-template-columns: repeat(2, 100px);
	column-gap: 2rem;
	row-gap: 4rem;
}

.conteudo__item {
	background-color: rgb(192, 192, 192);
	border: 1px solid rgb(128, 128, 128);
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgb(255, 255, 255) 1px 1px 0px 0px inset, rgb(128, 128, 128) -1px -1px 0px 0px inset;
}

a.conteudo__item {
	color: inherit;
}

a.conteudo__item:focus-visible {
	outline: none;
}

.item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.item:hover > .item__nome {
	background-color: rgba(128, 128, 128, 0.5);
}

.item__icone {
	flex: 1;
	width: 40%;
	height: 40%;
}

.item__nome {
	position: absolute;
	max-width: 100%;
	max-height: calc(((1rem * 1.2) * 2) + 0.5rem);
	line-height: 1.2;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	top: 100%;
	border-radius: 0.5rem;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
	cursor: default;
	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	/* word-break: break-all; */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.item__nome_desktop {
	font-weight: 600;
	max-width: 120%;
}

.principal__rodape {
	display: flex;
	align-items: center;
	height: 2.6rem;
	justify-content: space-between;
	padding: 0.25rem 0.5rem;
	background-color: rgb(192, 192, 192);
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgb(255, 255, 255) 0px 1px 0px 0px inset;
	border-top: 1px solid rgb(255, 255, 255);
	border-bottom: 1px solid rgb(255, 255, 255);
}

.principal__programas {
	display: flex;
	justify-content: flex-start;
	column-gap: 0.5rem;
	overflow-x: scroll;
}

.programas {
	display: inline-flex;
	flex: 1;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.programas__item {
	white-space: nowrap;
	max-width: 10rem;
}

.caixa {
	font-size: 0.8rem;
	column-gap: 0.2rem;
}

.caixa_ativo {
	background-color: rgb(224 224 224);
}

.frequente .lucide,
.fixo .lucide {
	margin-right: 0.25rem;
}

.fixo__botao {
	background-color: transparent;
	font-size: 1rem;
}

.fixo__botao,
.frequente__hora,
.programas__item {
	display: flex;
	align-items: center;
	height: 2.1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 1px solid rgb(128 128 128);
}

.fixo__botao:hover,
.frequente__hora:hover,
.fixo__botao[data-aberto="true"] {
	background-color: rgb(224 224 224);
}

.fixo {
	position: relative;
}

.fixo__menu {
	position: absolute;
	bottom: calc(100% + 0.2rem);
	left: 0;
	min-width: 6rem;
}

.menu {
	background: rgb(192, 192, 192);
	border-top: 1.5px solid rgb(255, 255, 255);
	border-left: 1px solid rgb(128 128 128);
	border-bottom: 1.5px solid rgb(255, 255, 255);
	border-right: 1px solid rgb(128 128 128);
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgb(255, 255, 255) 0px 1px 0px 0px inset;
}

.menu__item {
	display: flex;
	align-items: center;
	height: 2.1rem;
	font-weight: 500;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.dialogo {
	width: 100%;
	min-width: 320px;
	max-width: 60rem;
	height: calc(100vh - 2.6rem);
	row-gap: 0.5rem;
	padding: 0;
	background: rgb(192, 192, 192);
	border: 3px solid rgb(128, 128, 128);
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.dialogo[open] {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
}

.dialogo:focus-visible {
	outline: none;
}

.dialogo:hover {
	background: rgb(224, 224, 224);
}

.dialogo__cabecalho {
	height: 2.5rem;
	padding-left: 0.5rem;
}

.cabecalho {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.cabecalho__titulo {
	text-transform: capitalize;
	font-size: 1rem;
	font-weight: 600;
}

.cabecalho__controles {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.controles__fechar,
.controles__minimizar {
	width: 42px;
	height: 42px;
	overflow: hidden;
	cursor: pointer;
}

.controles__fechar::after {
	content: "\22A0";
}

.controles__minimizar::after {
	content: "\229F";
}

.controles__fechar::after,
.controles__minimizar::after {
	display: inline-block;
	width: inherit;
	line-height: 40px;
	font-size: 54px;
	text-indent: -1.5px;
}

.dialogo__corpo {
	display: flex;
	height: 100%;
	overflow: hidden;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-top: 1px solid rgb(26, 26, 26);
}

.dialogo__conteudo,
.dialogo__info {
	flex: 1;
	overflow-y: scroll;
	overflow-x: hidden;
}

.dialogo__conteudo {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.dialogo__info {
	min-width: 12rem;
	max-width: 16rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

.dialogo__conteudo + .dialogo__info {
	display: none;
	border-left: 1px solid rgb(26, 26, 26);
	max-width: 12rem;
}

.dialogo__info h2 {
	font-size: 1.25rem;
	font-weight: 500;
}

.dialogo__info h3 {
	font-size: 0.9rem;
	font-weight: 400;
}

.info__metadados {
	background: rgb(224, 224, 224);
	padding: 0.25rem;
	border-radius: 0.3rem;
	margin-top: 1rem;
}

.dialogo:hover .info__metadados {
	background: rgb(192, 192, 192);
}

.info__metadados div {
	font-size: 0.9rem;
	color: rgb(26, 26, 26);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: end;
}

.info__metadados div + div {
	border-top: 1px solid rgb(26, 26, 26);
}

.info__label {
	display: block;
	text-align: left;
	color: rgb(128, 128, 128);
	font-size: 0.8rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

@media (min-width: 480px) {
	.conteudo {
		grid-template-columns: repeat(3, 100px);
	}

	.cabecalho__titulo {
		font-size: 1.1rem;
	}
}

@media (min-width: 800px) {
	.conteudo {
		grid-template-columns: repeat(4, 100px);
		row-gap: 2rem;
	}

	.cabecalho__titulo {
		font-size: 1.2rem;
	}

	.dialogo__conteudo + .dialogo__info {
		display: block;
	}

	.pagina__conteudo {
		background-position: center;
	}
}

@media (min-width: 1024px) {
	.dialogo {
		row-gap: 1rem;
	}

	.dialogo__cabecalho {
		padding-left: 1rem;
	}

	.dialogo__corpo {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.dialogo__conteudo {
		padding-bottom: 1rem;
	}

	.dialogo__info {
		padding-bottom: 1rem;
	}
}
